.btn {
    user-select: none;
    border-radius: 100px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 11px 25px;

    &.btn-default {
        margin-right: 0;
        border: 2px solid #505050;
        color: #505050;
        background: none;

        &:hover {
            background: #fff;
            border: 2px solid #fff;
            color: #e16640;
        }
    }

    &.btn-primary {
        background: #e16640;
        border: 2px solid #e16640;
        color: #fff !important;

        &:hover {
            background: #d35738;
            border: 2px solid #d35738;
        }
    }

    &.btn-inverted {
        margin-right: 0;
        border: 2px solid #fff;
        color: #fff;
        background: none;

        &:hover {
            background: #fff;
            border: 2px solid #fff;
            color: #e16640;
        }
    }

    &.btn-medium {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 12px 40px;
        font-size: 14px;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &.btn-large {
        padding: 14px 30px;
        min-width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-apple:before {
    content: "\f179";
}

.fa-android:before {
    content: "\f17b";
}

.fa-windows:before {
    content: "\f17a";
}

.fa-desktop:before {
    content: "\f108";
}

[href^='https://itunes.apple.com/']{
    &:before {
        @extend .fa;
        @extend .fa-apple;
        margin-right: .5em;
    }
}

[href^='https://play.google.com/'] {
    &:before {
        @extend .fa;
        @extend .fa-android;
        margin-right: .5em;
    }
}

[href^='https://www.microsoft.com/'] {
    &:before {
        @extend .fa;
        @extend .fa-windows;
        margin-right: .5em;
    }
}

[href^='https://panel.hostmeapp.com?utm_source=website-footer&utm_medium=website&utm_campaign=website'] {
    &:before {
        @extend .fa;
        @extend .fa-desktop;
        margin-right: .5em;
    }
}
