/* 21. CLIENTS SECTION STYLES */

.clients-section {
	padding: 140px 0 90px;
}

.clients-section .row .col-md-2 {
	border-right: 1px solid #eef1f2;
	border-bottom: 1px solid #eef1f2;
}

.clients-section .row .col-md-2:last-child {
	border-right: none;
}

.clients-section .row:last-child .col-md-2 {
	border-bottom: none;
}

.single-client {
	padding: 15px 0;
}

.single-client:hover img {
	-webkit-filter: grayscale(50%);
	filter: grayscale(20%);
	opacity: 1;
}

.single-client > img {
	padding: 15px 0;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: .7;
	-webkit-transition: all .3s;
	transition: all .3s;
}