/* 1. BASIC DOUCMENT STYLES */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 30px;
    color: #666;
    font-weight: 400;
    letter-spacing: -0.1px;
}

/*
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
*/

::-webkit-scrollbar-thumb {
    cursor: pointer;
}

::selection {
    color: #fff;
}

-webkit-::selection {
    color: #fff;
}

::-moz-selection {
    color: #fff;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="submit"] {
    outline: none;
}

form input {
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    font-size: 15px;
    text-align: center;
    width: auto;
    text-transform: uppercase;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    color: #979797;
    background: #fff;
    font-weight: 600;
    font-size: 14px;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
    color: #222;
}

form input[type="submit"] {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.gry-bg {
    background: #eef1f2;
}

.waitlist-bg {
    background: #2a2f30;
    background-image: url(http://hostmeapp.com/img/bg/waitlist-bg.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.light-text>h2 {
    color: #fff !important;
}

.light-text>p {
    color: #eef1f2 !important;
}

#scrollUp {
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    background: rgba(69, 75, 84, .7);
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#scrollUp:hover {
    color: #fff;
}