/* 23. FOOTER SECTION STYLES */

.footer-section {
	background: #2a2f30;
	color: #fff;
	padding-top: 70px;
}

.single-widget {
	margin-bottom: 70px;
	padding-left: 40px;
}

.subscribe-form > form > input {
	padding: 13px;
	width: 100%;
}

.subscribe-form > form > input[type="email"] {
	font-weight: 500;
	margin-bottom: 10px;
	font-size: 14px;
}

.subscribe-form > form > input[type="text"] {
	font-weight: 500;
	margin-bottom: 10px;
	font-size: 14px;
}

.subscribe-form > form > input[type="submit"] {
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .3s;
	transition: all .3s;
}


.single-widget > h4 {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 25px;
}

.single-widget > ul {
	list-style: none;
}

.single-widget > ul > li {
	margin-bottom: 8px;
}

.single-widget > ul > li > a,.single-widget > p {
	color: #9b9fa7;
	font-size: 15px;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 20px;
}

.single-widget > ul > li > a:hover {
	color: #f1f1f1;
}

.copyright {
	border-top: 1px solid #3d4344;
	padding: 20px 0 15px;
}

.copyright p {
	font-size: 14px;
	color: #50585a;
	font-weight: 500;
}

.copyright p a {
	color: #8c939f;
}