/* 3. HEADER 1 STYLES */

.header-section-1 {
    background-image: url(http://hostmeapp.com/img/bg/header-bg-1.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
}

.intro-text-1 {
    margin: 340px 0 210px;
}

.intro-text-1>p {
    font-size: 26px;
    font-weight: 300;
    color: #eef1f2;
    margin: 0;
}


.intro-text-1>h1 {
    margin: 0;
    font-size: 65px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 65px;
}


.subscribe-form-1 form input {
    width: 300px;
}

.subscribe-form-1 form input[type="email"] {
    color: #96a1b4;
    margin-bottom: 10px;
}

.subscribe-form-1 form input[type="submit"] {
    color: #fff;
    font-weight: 700;
    transition: all .3s;
}


/* 4. HEADER 2 STYLES
-------------------------------------------------*/

.header-section-2 {
    background-image: url(http://hostmeapp.com/img/bg/header-bg-2-right.jpg);
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.intro-text-2 {
    margin: 100px 0 100px;
}

.intro-text-2>p {
    font-size: 22px;
    font-weight: 300;
    color: #585858;
    margin: 0;
    margin-bottom: 20px;
}

.intro-text-2>h1 {
    margin: 0;
    font-size: 56px;
    color: #222;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 60px;
    margin-left: -3px;
}

.intro-buttons-2>a:first-child {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 100px;
    padding: 14px 40px;
    margin-right: 20px;
}

.intro-buttons-2>a:first-child:hover {
    color: #fff;
}

.intro-buttons-2>a>i {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 48px;
    border: 2px solid #494c54;
    border-radius: 50%;
    margin-right: 12px;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #494c54;
}

.intro-buttons-2>a:last-child {
    color: #494c54;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}


/* 5. HEADER 3 STYLES
-------------------------------------------------*/

.header-section-3 {
    background-image: url(http://hostmeapp.com/img/bg/header-bg-3.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
}

.intro-text-3 {
    margin: 160px 0 100px;
    &>p {
        font-size: 22px;
        font-weight: 300;
        color: #eef1f2;
        margin: 0;
        margin-bottom: 15px;
    }
}

.intro-text-3>h1 {
    margin: 0;
    font-size: 52px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 70px;
}

.sign-up-form-3>form>input {
    padding: 15px 30px;
    width: auto;
    max-width: 250px;
    margin-right: 15px;
    display: inline-block;
}

.sign-up-form-3>form>input[type="text"],
.sign-up-form-3>form>input[type="email"] {
    font-weight: 600;
    margin-bottom: 10px;
}

.sign-up-form-3>form>input[type="submit"] {
    color: #fff;
    font-weight: 700;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-right: 0;
}


/* 6. HEADER 4 STYLES
-------------------------------------------------*/

.header-section-4 {
    background-image: url(http://hostmeapp.com/img/bg/header-bg-4.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
}

.intro-text-4 {
    margin: 300px 0 210px;
}

.intro-text-4>p {
    font-size: 22px;
    font-weight: 300;
    color: #eef1f2;
    margin: 0;
}

.intro-text-4>h1 {
    margin: 0;
    font-size: 56px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 80px;
}

.intro-buttons-4>a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 100px;
    padding: 14px 50px;
    margin-right: 20px;
}

.intro-buttons-4>a:hover {
    color: #fff;
}

.intro-buttons-4>a:last-child {
    margin-right: 0;
    border: 2px solid #fff;
    color: #fff;
    background: none;
    border-radius: 100px;
}

.intro-buttons-4>a:last-child:hover {
    background: #fff;
}


/* 7. HEADER 5 STYLES
-------------------------------------------------*/

.header-section-5 {
    background-image: url(http://hostmeapp.com/img/bg/header-bg-5.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.header-section-5 .row {
    position: relative;
}

.credit-card-container {
    position: absolute;
    height: 100%;
    width: 75%;
    bottom: 0;
    left: -15%;
}

.credit-card-container img {
    position: inherit;
    bottom: 0;
}

.sign-up-form-container-5 {
    padding: 205px 0 120px 50px;
}

.sign-up-form-holder-5 {
    background: #fff;
    padding: 30px;
}

.sign-up-form-holder-5 h1 {
    font-size: 32px;
    line-height: 40px;
    color: #222;
    font-weight: 300;
}

.sign-up-form-holder-5 p {
    font-size: 18px;
    line-height: 24px;
    color: #93a0a4;
    font-weight: 300;
}

.sign-up-form-5 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.sign-up-form-5 form input {
    width: 95%;
    margin-top: 13px;
}

.sign-up-form-5 form input[type="text"],
.sign-up-form-5 form input[type="email"],
.sign-up-form-5 form input[type="password"] {
    background: #eef1f2;
    border: 2px solid #dce4e7;
    text-align: left;
    color: #838383;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    padding: 13px 25px;
}

.sign-up-form-5 form input[type="text"]:focus,
.sign-up-form-5 form input[type="email"]:focus,
.sign-up-form-5 form input[type="password"]:focus {
    color: #222;
}

.sign-up-form-5 form input[type="submit"] {
    font-weight: 700;
    color: #fff;
    padding: 16px 30px;
}

.sign-up-form-holder-5 .policy-text {
    font-size: 14px;
    font-weight: 400;
    color: #9ea9ac;
    line-height: 24px;
}


/* 8. HEADER 6 STYLES
-------------------------------------------------*/

.header-section-6 {
    background: #d5ddce;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d5ddce 0%, #c7d2ca 84%, #eef1f2 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d5ddce 0%, #c7d2ca 84%, #eef1f2 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d5ddce 0%, #c7d2ca 84%, #eef1f2 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d5ddce',endColorstr='#eef1f2',GradientType=0);
    /* IE6-9 */
}

.intro-text-6 {
    margin: 240px 0 0;
}

.intro-text-6>p {
    font-size: 22px;
    font-weight: 300;
    color: #585858;
    margin: 0;
}

.intro-text-6>h1 {
    margin: 0;
    font-size: 56px;
    color: #222;
    font-weight: 300;
    margin-bottom: 50px;
}

.intro-text-6 img {
    margin: auto;
}

.intro-buttons-6 {
    margin-bottom: 70px;
}

.intro-buttons-6>a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 100px;
    padding: 14px 30px;
    margin-right: 20px;
    height: 53px;
    width: 200px;
}

.intro-buttons-6>a:hover {
    color: #fff;
}

.intro-buttons-6>a:last-child {
    margin-right: 0;
    border: 2px solid #505050;
    color: #505050;
    background: none;
    border-radius: 100px;
}

.intro-buttons-6>a:last-child:hover {
    background: #fff;
    border: 2px solid #fff;
}


/* 9. HEADER 7 STYLES
-------------------------------------------------*/

.header-section-7 {
    background-image: url(http://hostmeapp.com/img/bg/header-bg-7.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
}

.intro-text-7 {
    margin: 340px 0 210px;
}

.intro-text-7>p {
    font-size: 26px;
    font-weight: 300;
    color: #eef1f2;
    margin: 0;
}

.intro-text-7>h1 {
    margin: 0;
    font-size: 65px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 65px;
}

.intro-buttons-7>a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 100px;
    padding: 14px 50px;
    margin-right: 20px;
}

.intro-buttons-7>a:hover {
    color: #fff;
}

.intro-buttons-7>a:last-child {
    margin-right: 0;
    border: 2px solid #fff;
    color: #fff;
    background: none;
    border-radius: 100px;
}

.intro-buttons-7>a:last-child:hover {
    background: #fff;
}





h1 {
    margin: 0;
    font-size: 56px;
    color: #222;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 60px;
    margin-left: -3px;
}

h2 {
    font-size: 48px;
    font-weight: 300;
    color: #222;
    text-transform: capitalize;
    margin-bottom: 17px;
    line-height: 52px;
}

h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    color: #222;
    margin-bottom: 15px;
    margin-top: 0;
}