/* HOTFIXES */

// html, body { overflow-x: hidden; }

.navbar-toggle {
    margin-right: -15px !important;
}

.header-section-6 {
	background: #eef1f2 !important;
    /*background: -moz-linear-gradient(top,#eef1f2 0%,#c7cdcf 84%,#eef1f2 100%) !important;
    background: -webkit-linear-gradient(top,#eef1f2 0%,#c7cdcf 84%,#eef1f2 100%) !important;
    background: linear-gradient(to bottom,#eef1f2 0%,#c7cdcf 84%,#eef1f2 100%) !important;*/
}

.sign-up-section {
    background: -moz-linear-gradient(30deg,#d8544d 0%,#eeb087 100%) !important;
    background: -webkit-linear-gradient(30deg,#d8544d 0%,#eeb087 100%) !important;
    background: linear-gradient(30deg,#d8544d 0%,#eeb087 100%) !important;
}

.intro-text-6 {
    margin: 200px 0 0 !important;
}

.sign-up-section h3 {
    font-size: 48px !important;
    padding-top: 50px !important;
}

.sign-up-section p {
    margin-bottom: 0px;
}

.grey-bg {
	background: #f8f8f8;
}

.wht-bg {
	background: #ffffff;
}

.intro-buttons-77 > a {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border-radius: 100px;
	padding: 15px 25px;
	margin-right: 20px;
	width: 210px;
	border: 2px solid #fff;
	background: none;
}

.intro-buttons-77 > a:hover {
	background: #fff !important;
	color: #e16640;
}

.intro-buttons-77 > a:last-child {
	margin-right: 0;	
}

.intro-text-6 > h1 {
    font-size: 52px !important;
    line-height: 1.2 !important;
}

#featured-price .price-features > p {
    color: #f8f8f8;
}

.price-features {
    margin-top: 25px !important;
}

.res-ipad {
		margin-top: -30px;
	}

.single-question > h4 {
	margin-left: 0px !important;
	margin-top: 30px;
	margin-bottom: 20px !important;
}

.single-question > p {
	margin-left: 0px !important;
}

.single-question {
    padding-right: 0px !important;
}

.single-question > p > strong {

}

.last-post {
	 margin-top: 60px;
}

.blog-text > p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: -0.1px;
}
.blog-img {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 50px;
}
    
.team-photo {
	height: 320px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

.jobs {
	color: #888;
}

.jobs > h4 {
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 30px;
	text-transform: capitalize;
}

.changelog {
	color: #888;
}

.changelog > h4 {
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 30px;
	text-transform: capitalize;
}

.blog-text > h4 {
	font-size: 22px;
	margin-top: 30px;
	margin-bottom: 20px
}

.changelog-text > h4 {
	font-size: 22px;
	margin-top: 30px;
	margin-bottom: 20px
}

.changelog-text h2 {
    text-align: left; 
    /*font-family: 'Open Sans', sans-serif, Verdana, Arial, Tahoma;*/ 
    font-weight: 500; 
    font-size: 24px; 
    line-height: 36px; 
    color: #e16640;
}

.changelog-text img {
    padding-bottom: 20px;
    padding-top: 20px;
}

.changelog-text p {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left; 
    /*font-family: 'Open Sans', sans-serif, Verdana, Arial, Tahoma;*/ 
    font-weight: 300; 
    font-size: 16px; 
    line-height: 26px; 
    color: #2A2F30;
}

#apply-button {
	margin-top: 50px;
}

#apply-button > a {
	display: block;
	background: #e16640;
	font-weight: 600;
	padding: 12px 25px;
	color: #fff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 15px;
	width: 240px;
	text-align: center;
}

#apply-button > a:hover {
	background: #d35738;
}

.store-badge {
	padding: 0 0 !important;
}

.central-badge {
	margin-left: 10px;
    margin-right: 10px;
}









