/* 12. IMAGE CONTAINER 1 SECTION STYLES
-------------------------------------------------*/
.image-container-section-1 {
	position: relative;
}

.image-container-1 {
	position: absolute;
	content: "";
	display: block;
	width: 35%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(http://hostmeapp.com/img/bg/image-1.jpg);
	background-repeat: repeat-x;
	background-position: right center;
}

.image-container-1-text {
	padding: 120px 0 120px 60px;
}

.image-container-1-text > h3 {
	font-size: 36px;
	line-height: 48px;
	color: #222;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 20px;
}

.image-container-1-text > p {
	font-size: 17px;
	line-height: 30px;
	color: #8a8a8a;
	font-weight: 500;
	margin-bottom: 60px;
}

.image-container-1-text > a {
	padding: 7px 33px;
	background: none;
	color: #4e4e4e;
	border: 2px solid #4e4e4e;
	border-radius: 100px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.image-container-1-text > a:hover {
	color: #fff;
}



/* 14. IMAGE CONTAINER 2 SECTION STYLES
-------------------------------------------------*/
.image-container-section-2 {
	overflow: hidden;
}

.image-container-2-text {
	padding: 130px 10px 130px 0;
}

.image-container-2-text > h3 {
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	color: #222;
	margin-bottom: 15px;
	margin-top: 0;
}

.image-container-2-text > p {
	font-size: 17px;
	font-weight: 500;
	line-height: 30px;
	color: #8a8a8a;
	margin-bottom: 60px;
}

.image-container-2-text > a {
	padding: 12px 40px;
	color: #fff;
	border-radius: 100px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.image-container-2 > img {
	margin: 0 auto;
	display: table;
	margin-bottom: -128px;
}