/* INTERCOM FIXES */

.intercom-launcher-button {
    border: none !important;
    box-shadow: none !important;
    background-color: rgba(69,75,84,.7) !important;
    background-image: url(http://hostmeapp.com/img/icons/intercom@2x.png) !important;
    background-size: 24px 24px !important;

}

.intercom-launcher-button:hover {
    background-color: #e16640 !important;

}

.intercom-launcher {
    bottom: 30px !important;
    right: 30px !important;
}

#scrollUp {
    visibility: hidden !important;
}