.sticky-bottom {
    position: sticky;
    bottom: 0;
}

.sticky-top-shadow {
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}

.sticky-bottom-shadow {
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
}

.with-padding {
    padding: 40px 0;
}

.row {
    padding: 10px;
}