/* 2. NAV MENU STYLES
-------------------------------------------------*/
@import "variables.scss";

.scroll-fixed-nav {
    padding: 15px 0 12px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
}

.navbar-expand,
.navbar-expand-lg,
.navbar-expand-md,
.navbar-expand-sm {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #4C4C4C;
    padding: 15px 18px;
    white-space: nowrap;
}

#featured-sign-up {
    margin-left: 18px;
    margin-right: 15px;

    & > a {
        padding: 11px 25px !important;
        color: #fff !important;
        border-radius: 50px;
        margin-top: 4px;
    }
}

.navbar {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    line-height: 20px;
    width: 100%;

    .nav-item {
        text-align: center;

        .nav-link {
            display: inline-block;
        }
    }

    .nav-link[href^='/sign-up'] {
        @extend .btn;
        @extend .btn-primary;
        margin-left: 18px;
        margin-right: 15px;
        padding: 11px 25px !important;
        font-weight: 600;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 15px;
                font-weight: 400;
                text-transform: uppercase;
                color: #4C4C4C;
                padding: 15px 18px;
            }

            &.active,
            &:focus,
            &:hover {
                .nav-link {
                    color: #e16640 !important;
                }
            }
        }
    }
}

.navbar-brand {
    padding: 7px 15px;
}