/* NEWS
-------------------------------------------------*/

.news-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	padding: 145px;
}

.news-text > h6 {
	margin-bottom: 22px;
	margin-top: -17px;
	color: #999;
	font-size: 14px;
}

.news-text > h3 {
	margin-top: -28px !important;
	margin-left: -2px;
}