
/* PRICES
-------------------------------------------------*/

.price-tabs {
	width: 340px;
	margin: auto;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 40px;
}

.price-tabs > ul > li {
	width: 170px;
	margin-left: 0px;
	text-align: center;
}


.price-tabs {
    .btn {
        text-transform: none;
    }
}

.price-title {
	margin-bottom: 40px !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #337ab7;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #e16640;
	border: none;
	padding: 11px 15px;
}

.nav-pills > li > a {
	color: #e16640;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-pills > li > a:hover {
	color: #d35738;
}

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
	background-color: #f8f8f8;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
}

.nav-pills > .right-tab > a, .nav-pills > .right-tab > a:hover, .nav-pills > .right-tab > a:focus {
	border-left-style: none;
	padding-right: 25px !important;
}

.nav-pills > .left-tab > a, .nav-pills > .left-tab > a:hover, .nav-pills > .left-tab > a:focus {
	border-right-style: none;
	padding-left: 25px !important;
}

.price-features > .price-parties {
	color: #555;
	font-weight: 600;
	padding-bottom: 10px;
}

#featured-price .price-features > .price-parties {
	color: #fff;
}

.discount > img {
	margin-top: -150px;
	margin-right: -160px;
}

/* PATRON
-------------------------------------------------*/

.patron {
	padding: 210px 0 210px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	background-image: url(http://hostmeapp.com/img/bg/patron-bg.jpg) !important;
}

.patron p {
    color: #e7ecee !important;
}

.single-price {
    width: 100%;
}


.btn-group {
    .btn {
        color: #e16640;
        background-image: none;
        border-color: #cccccc
    }
    
    .btn.active {
        color: #fff;
        background-color: #e16640;
        background-image: none;
        border-color: #e16640;
    }
}



