/* 18. PRICES SECTION STYLES
-------------------------------------------------*/
.price-section {
	padding: 180px 0 90px;
}

.single-price {
	background: #fff;
	padding-bottom: 50px;
}

.price-header {
	padding: 40px 0 10px;
}

.plan-title {
	font-size: 30px;
	color: #222;
	font-weight: 200;
	text-transform: capitalize;
}

.plan-price {
	border-radius: 50%;
	margin: 0 auto;
	height: 100px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	color: #222;
}

.plan-price > h4 {
	font-size: 80px;
	font-weight: 500;
	color: #444;
    margin-top: 6px;
    margin-left: -5px;
    letter-spacing: -1px;
}

.plan-price > h4 > span {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0px;
}

.plan-price > h4 > .currency {
	font-size: 26px;
	font-weight: 400;
}

sup {
	top: -1.45em !important;
}

.price-features {
	margin-top: 35px;
}

.price-features > p {
	font-size: 15px;
	color: #666666;
	font-weight: 500;
	line-height: 18px;
}

.price-footer {
	margin-top: 40px;
}

.price-footer > a {
	color: #474646;
	text-transform: uppercase;
	background: #e16640;
	color: #fff;
	border-radius: 50px;
	padding: 15px 60px;
	font-size: 14px;
	font-weight: 700;
}

.price-footer > a:hover {
	background: #d35738 !important;
	color: #fff;
}

#featured-price .plan-title {
	color: #fff;
}

#featured-price .plan-price {
	/*background: #fff;*/
	color: #222;
}

#featured-price .plan-price > h4 {
	color: #fff;
}

#featured-price .price-features > p {
	color: #eef1f2;
}

#featured-price .price-footer > a {
	background: #fff;
	color: #e16640;
}

#featured-price .price-footer > a:hover {
	color: #fff;
	background: #e16640 !important;
}
