/*-----------------------------
		Responsive style
-----------------------------*/

	.col-lg-7 {
		float: right;
	}	


/*	MIN WIDTH 992PX & MAX WIDTH 1199PX	*/
@media (min-width: 992px) and (max-width: 1199px) {
	.single-key-feature {
		padding: 0 35px;
	}

	.blog-section-text {
		padding-right: 0;
		padding-left: 20px;
	}

	.image-container-2 > img {
		margin-bottom: -175px;
	}

	.single-service {
		padding: 40px 30px 10px;
	}
	
	.single-price {
		padding-left: 20px;
		padding-right: 20px;
		/*height:690px;*/
	}
	
/*	.price-features {
		height: 330px;
	}*/
	
	.stand-2 {
		margin-top: -100px;
	}
	
	.res-ipad {
		margin-top: -150px;
	}
	
	.res-iphone {
		margin-top: -75px;
	}
	
	.intro-text-2 > h1 {
		font-size: 54px;
		margin-bottom: 50px;
	}
	
	.intro-text-2 {
		margin: 180px 0 140px;
	}
	
	.wait-br {
		height: 12px;
	}
	
	.member-info {
		padding: 35px 28px;
	}

	.single-widget {
		padding-left: 20px;
	}
	
	.sw2, .sw3 {
		margin-left: -10px;
	}
	
	.sw4 {
		margin-right: -10px;
	}
	
	.sw5 {
		margin-left: 5px;
	}
	
	.sw6 {
		margin-left: 10px;
	}
	
}

/*	MAX WIDTH 991PX	*/
@media only screen and (max-width: 991px) {
	.scroll-fixed-nav {
		padding: 0 0 12px;
	}

	.navbar-fixed-top .navbar-header {
	    width:  100%;	
		position: relative;
		text-align: center;
		margin-bottom: 8px;
		margin-top: 10px;
	}

	.navbar-brand {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		flex-direction: row;
		-webkit-flex-direction: row;
	}

	.navbar-fixed-top .navbar-header a {
		float: none !important;
	}

	.navbar-fixed-top .navbar-nav {
		float: none !important;
		text-align: center;
		display: table;
		margin: auto;
	}

	.intro-text-1,.intro-text-4,.intro-text-7 {
		margin: 300px 0 200px;
	}
	
	.intro-text-2 {
		margin: 240px 0 140px;
	}

	.intro-text-3 {
		margin: 200px 0 90px;
	}
	
	
	.sign-up-form-3 > form > input[type="email"] {
		margin-right: 0;
	}

/*	.header-section-2 {
		background-position: center left;
	}*/

	.header-section-4 {
		background-position: center right;
	}

	.intro-text-2,.intro-text-4 {
		text-align: center;
	}

	.sign-up-form-container-5 {
		padding: 205px 0 100px;
	}

	.credit-card-container {
		display: none;
	}

	.key-features-section {
		padding: 80px 0 0;
	}

	.key-features-section .col-md-4 {
		border-right: none;
	}

	.single-key-feature {
		margin-bottom: 70px;
	}

	.blog-section .v-align-children,.image-container-section-2 .v-align-children {
		display: block !important;
	}

	.blog-section-text,.image-container-2-text {
		padding: 0;
		margin-bottom: 100px;
		text-align: center;
	}

	.image-container-section-1 {
		padding-top: 0%;
	}

	.image-container-1 {
		width: 100%;
		height: 0%;
		background-position: center right;
	}

	.image-container-1-text {
		padding: 150px 0 120px;
		margin-bottom: 0;
		text-align: center;
	}

	.image-container-section-2 {
		padding-top: 120px;
	}

	.image-container-2 > img {
		margin-bottom: 0;
	}

	.single-service {
		margin-bottom: 30px;
	}

/*	.team-section .col-md-3:nth-child(1),.team-section .col-md-3:nth-child(2) {
		margin-bottom: 50px;
		border-bottom: 1px solid #d4dee1;
	}*/

	.single-price {
		margin-bottom: 30px;
	}

	.single-question {
		padding-right: 50px;
	}

	.clients-section .row .col-md-3:nth-child(1),.clients-section .row .col-md-3:nth-child(3),.clients-section .row:last-child .col-md-3:nth-child(1),.clients-section .row:last-child .col-md-3:nth-child(3) {
		border-right: 1px solid #eef1f2;
	}

	.clients-section .row:first-child .col-md-3:nth-child(n),.clients-section .row:last-child .col-md-3:nth-child(-n+2) {
		border-bottom: 1px solid #eef1f2;
	}

	.clients-section .row .col-md-3 {
		border-right: none;
		border-bottom: none;
	}

	.subscribe-form {
		text-align: center;
		max-width: 460px;
		margin: 0 auto;
		padding-bottom: 70px;
	}
	
	.intro-buttons-77 > a {
		margin-right: 100px;
		margin-left: 100px;
		margin-bottom: 20px;
		width: 360px;
	}
	
	.intro-buttons-77 > a:last-child {
		margin-right: 100px;
		margin-left: 100px;
	}
	
	.subscribe-form > form > input {
	padding: 13px;
	}
	
	form input {
	text-align: center;
	}
	
	.stand-2 {
		margin-top: -100px;
	}
	
	.faq-section {
		padding: 200px 0 90px;
	}
	
	.old-post {
		margin-top: -50px;	
	}
	
	.blog-container {
		padding-bottom: 40px;
	}
	
	.blog-section {
		padding: 100px 0 0 0;
	}
	
	.last-post {
		margin-top: 100px;
	}
	
	.header-section-2 {
		/*background-image: url(/img/bg/header-bg-2-mob.jpg);
		background-position: center center;
		background-size: cover;*/
		background-image: none;
		background-color: #f8f8f8;
	}
	
	.main-img {
		background-image: url(http://hostmeapp.com/img/main-img.png);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		height: 490px;
		margin-top: -40px;
	}
	
	.member-info {
		padding: 70px 30px;
	}
	
	.news-text > h3 {
		margin-top: 0 !important;
	}
	
	.main-iphone {
		margin-bottom: 50px;
	}
	
	.single-widget {
		padding-left: 0px;
	}
	
	.sw3 {
		padding-left: 10px;
		margin-right: -10px;
	}
	
	.sw4 {
		padding-left: 20px;
		margin-right: -30px;
	}
	
	.sw5 {
		padding-left: 30px;
		margin-right: -30px;
	}
	
	.sw6 {
		padding-left: 30px;
		margin-right: -30px;
	}
	
	/*.price1, .price2, .price3, .price4 {
		margin-right: 0px;
		margin-left: 0px;
	}*/

	.price-section {
		padding: 220px 0 90px;
	}
	
	.signup-page {
		padding-top: 160px;
	}
	
	.waitlist-bg {
		background-image: url(http://hostmeapp.com/img/bg/waitlist-bg-mob.jpg);
	}
	
}

/*	MAX WIDTH 767PX	*/
@media only screen and (max-width: 767px) {
	.navbar-fixed-top .navbar-header {
		margin-top: 0;
	}

	#featured-sign-up {
		margin: 0 0 40px;
	}

	.intro-text-1,.intro-text-4,.intro-text-7 {
		margin: 250px 0 200px;
	}
	
	.intro-text-2 {
		margin: 190px 0 140px;
	}
	
	.intro-text-3 {
		margin: 130px 0 80px;
	}

	.sign-up-form-container-5 {
		padding: 205px 70px 100px;
	}

	.blog-section-text,.image-container-1-text,.image-container-2-text {
		padding-left: 40px;
		padding-right: 40px;
	}

	.single-feature {
		padding: 0 40px;
	}


/*	.team-section .col-md-3:nth-child(3) {
		border-bottom: 1px solid #d4dee1;
	}*/

	.clients-section .row:last-child .col-md-3:nth-child(n) {
		border-bottom: 1px solid #eef1f2;
	}

	.clients-section .row:last-child .col-md-3:last-child {
		border-bottom: none;
	}

	.footer-section .col-md-2,.col-md-3,.footer-section .col-md-4 {
		text-align: center;
	}

	.footer-section .col-md-4:last-child {
		border-bottom: none;
	}
	
	.footer-section {
	    padding-top: 50px;
	}

	.single-widget {
		margin: 40px 0;
	}

	.subscribe-form {
		margin: auto !important;
		padding-bottom: 70px;
	}
	
	.image-container-section-2 {
		padding-top: 90px;
	}
	
	.faq-section {
		padding: 140px 0 90px;
	}
	
	.last-post {
		margin-top: 40px;
	}
	
	.service-section {
		background-image: url("https://hostmeapp.com/img/bg/service-bg-v.jpg");
	}
	
	.member-info {
		padding: 80px 120px;
	}
	
	.news-text > h6 {
		margin-top: -7px;
	}
	
	.sw1, .sw2, .sw3, .sw4, .sw5, .sw6 {
		padding-left: 0px;
		margin-right: 0px;
	}
	
	.price-section {
		padding: 170px 0 90px;
	}
	
	
}

/*	MAX WIDTH 640PX	*/
@media only screen and (max-width: 640px) {
	.navbar-fixed-top .navbar-header a {
		float: left !important;
		margin-left: 0;
	}

	.intro-text-1,.intro-text-4,.intro-text-7 {
		margin: 210px 0 140px;
	}
	
	.intro-text-2 {
		margin: 190px 0 140px;
	}
	
	.intro-text-3 {
		margin: 130px 0 80px;
	}

	.intro-text-1 h1,.intro-text-2 h1,.intro-text-3 h1,.intro-text-4 h1,.intro-text-6 h1,.intro-text-7 h1 {
		font-size: 48px;
	}

	.sign-up-form-3 > form > input {
		padding: 15px 30px;
		width: 100%;
		max-width: 100%;
		margin-right: 15px;
		display: inline-block;
	}

	.intro-buttons-7 a {
		padding: 10px 35px;
	}

	.header-section-4 {
		background-position: center center;
	}

	.sign-up-form-container-5 {
		padding: 205px 0 100px;
	}

	.image-container-1 {
		height: 0%;
	}

	.testimonial-thumbs {
		width: 400px;
	}
	
	.intro-text-6 {
		margin: 140px 0 0 !important;
	}
	
	.main-img {
		background-size: cover;
		height: 320px;
		margin-top: -40px;
	}
	
	.member-info {
		padding: 16% 20%;
	}
	
	.intro-buttons-77 > a {
		margin-right: 40px;
		margin-left: 40px;
		width: 320px;
	}
	
	.intro-buttons-77 > a:last-child {
		margin-right: 40px;
		margin-left: 40px;
	}

}

/*	MAX WIDTH 540PX	*/
@media only screen and (max-width: 540px) {
	.store-badge {
		margin-left: 0px;
		margin-right: 90px;
	}
	
	.last-badge {
		margin-left: 90px;
		margin-right: 90px;
	}
	
	.subscribe-form {
		margin: auto !important;
		padding-bottom: 70px;
	}
	
}


/*	MAX WIDTH 480PX	*/
@media only screen and (max-width: 480px) {
	.intro-buttons-6 > a {
		margin-right: 20px;
		margin-left: 20px;
	}
	
	.intro-buttons-6 > a:last-child {
		margin-right: 20px;
		margin-left: 20px;
		margin-top: 20px;
	}
	
	.subscribe-form {
		text-align: center;
		max-width: 300px;
		margin: 0 auto;
		padding-bottom: 70px;
	}
	
	.intro-buttons-77 > a {
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 20px;
		width: 240px;
	}
	
	.intro-buttons-77 > a:last-child {
		margin-right: 20px;
		margin-left: 20px;
	}
	
	.last-post {
		margin-top: 30px;		
	}
	
	.intro-text-2 {
		margin: 150px 0 100px;
	}
	
	.intro-text-2 > h1 {
		font-size: 42px;
		margin-bottom: 50px;
	}
	
	.main-img {
		height: 140px;
		margin-top: -20px;
	}
	
	.member-info {
		padding: 20% 15%;
	}
	
	.single-price {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.single-service {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.single-member {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.store-badge {
		margin-left: 0px;
		margin-right: 50px;
	}
	
	.last-badge {
		margin-left: 50px;
		margin-right: 50px;
	}

	.price-tabs {
		width: 320px;
	}

	.price-tabs > ul > li {
		width: 160px;
	}

}

/*	MAX WIDTH 360PX	*/
@media only screen and (max-width: 360px) {
	.price-tabs {
		width: 280px;
	}

	.price-tabs > ul > li {
		width: 140px;
	}
}
	

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 991px) {
	.header-section-2 {
		background-image: url("http://hostmeapp.com/img/bg/header-bg-2-right@2x.jpg");
	}
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px) {
	.main-img {
		background-image: url("http://hostmeapp.com/img/main-img@2x.png");
	}
}