/* 15. SERVICE SECTION STYLES
-------------------------------------------------*/
.service-section {
	background-image: url(http://hostmeapp.com/img/bg/service-bg.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	background-size: cover;
	padding: 140px 0 70px;
}

.single-service {
	background: rgba(23,23,23,0.5);
	padding: 40px 28px 10px;
	margin-bottom: 50px;
}

.single-service > i {
	font-size: 36px;
	height: 80px;
	width: 80px;
	color: #fff;
	border-radius: 50%;
	line-height: 80px;
	-webkit-transition: all .3s;
	transition: all .3s;
	position: relative;
	top: 0;
	opacity: 1;
}

.single-service:hover i {
	top: -40px;
	opacity: 0;
}

.single-service:hover h4 {
	top: -90px;
}

.single-service:hover p {
	top: -90px;
}

.single-service:hover a {
	top: -50px;
	opacity: 1;
}

.single-service > h4 {
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: 500;
	-webkit-transition: all .3s;
	transition: all .3s;
	position: relative;
	top: 0;
}

.single-service > p {
	font-size: 15px;
	line-height: 24px;
	color: #b2b8bc;
	-webkit-transition: all .3s;
	transition: all .3s;
	position: relative;
	top: 0;
}

.single-service > a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	background: #fff;
	color: #4e4e4e;
	padding: 6px 40px;
	border-radius: 50px;
	-webkit-transition: all .3s;
	transition: all .3s;
	position: relative;
	top: -10px;
	opacity: 0;
}

.single-service > a:hover {
	color: #fff;
}