/* 22. SIGN-UP SECTION STYLES
-------------------------------------------------*/
.sign-up-section {
	padding: 60px 0 100px;
}

.sign-up-section h3 {
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 25px;
}

.sign-up-section p {
	font-size: 18px;
	line-height: 1.6;
	color: #fef6ed;
	margin-bottom: 70px;
}

/*.sign-up-section a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	background: #fff;
	border-radius: 50px;
	padding: 11px 43px;
}

.sign-up-section a:hover {
	color: #fff;
}*/
