.service-section {
    background-image: url("http://hostmeapp.com/img/bg/service-bg.jpg");
    background-repeat: repeat-y;
    background-position: center top;
    background-size: cover;
    padding: 140px 0 70px;
}