/* 16. TEAM SECTION STYLES
-------------------------------------------------*/
.team-section {
    padding-top: 120px;
    overflow: hidden;
    padding-bottom: 120px;

    .row {
        padding: 0;
    }

    .single-member {
        position: relative;
        width: 100%;

        &:hover .member-info p {
            opacity: 1;
            transform: translateY(0px);
        }

        &:hover .member-info h5 {
            opacity: 1;
            transform: translateY(0px);
        }

        &:hover .social-profile > a {
            opacity: 1;
            transform: scale(1);
        }
    }

    .member-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        padding: 60px 30px;
        -webkit-transition: all .3s;
        transition: all .3s;
        height: 100%;

    }

    .member-info > h5 {
        font-size: 24px;
        color: #fff;
        margin-bottom: 0;
        margin-top: 0;
        transition: all .2s;
        opacity: 0;
        transform: translateY(6px);
        transition-delay: .2s;
    }

    .member-info > p {
        font-size: 14px;
        color: #fff;
        transition: all .2s;
        opacity: 0;
        transform: translateY(-6px);
        transition-delay: .2s;
        margin-top: 5px;
        font-weight: 300;
        line-height: 20px;
    }

    .social-profile {
        margin-top: 20px;
    }

    .social-profile > a {
        display: inline-block;
        -webkit-transition: all .2s;
        transition: all .2s;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .social-profile > a:nth-child(1) {
        transition-delay: .2s;
    }

    .social-profile > a:nth-child(2) {
        transition-delay: .25s;
    }

    .social-profile > a:nth-child(3) {
        transition-delay: .3s;
    }

    .social-profile > a:nth-child(4) {
        transition-delay: .35s;
    }

    .social-profile > a:nth-child(5) {
        transition-delay: .4s;
    }

    .social-profile > a > i {
        font-size: 14px;
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .social-profile > a > i:hover {
        background: #fff;
    }
}