/* 20. TESTIMONIALS SECTION STYLES
-------------------------------------------------*/
.testimonial-section {
	background-image: url(http://hostmeapp.com/img/bg/testimonial-bg.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
	padding-top: 130px;
}

.quote-icon {
	font-size: 140px;
	text-align: center;
	line-height: 90px;
}

.tesimonial-slider {
	max-width: 650px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
}

.tesimonial-slider .slick-slide {
	outline: none;
}

.tesimonial-slider .slick-slide p {
	font-size: 20px;
	line-height: 34px;
	font-weight: 300;
	margin-bottom: 55px;
}

.tesimonial-slider .slick-slide h4 {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 0;
}

.tesimonial-slider .slick-slide h5 {
	font-size: 14px;
	font-weight: 400;
	color: #666666;
	margin-bottom: 0;
	margin-top: 5px;
}

.testimonial-thumbs {
	position: relative;
	bottom: -50px;
	width: 550px;
	margin: 0 auto;
}

.testimonial-thumbs > div {
	margin-bottom: -10px;
}

.testimonial-thumbs .slick-slide {
	outline: none;
	padding: 20px 0;
}

.testimonial-thumbs .slick-slide img {
	height: 80px;
	width: 80px;
	border-radius: 100%;
	display: inline-block !important;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
	overflow: visible;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.testimonial-thumbs .slick-current img {
	height: 72px;
	margin-top: 0;
	opacity: 1;
	width: 72px;
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
