/* 17. WORK SECTION STYLES
-------------------------------------------------*/
.work-section {
	padding: 140px 0;
}

.work-section .col-md-3 {
	padding: 0;
}

.single-work {
	position: relative;
	overflow: hidden;
}

.single-work:hover a > img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.single-work:hover .work-info {
	opacity: 1;
}

.single-work > a > img {
	cursor: url(http://hostmeapp.com/img/icons/pointer.png),crosshair;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
	overflow: hidden;
}

.work-info {
	padding: 8px 0 8px 15px;
	position: absolute;
	width: 100%;
	opacity: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
	bottom: 0;
	z-index: 5;
}

.work-info > h5 {
	display: table;
	font-size: 18px;
	color: #fff;
}

.work-link {
	position: absolute;
	height: 100%;
	width: 17%;
	right: 0;
	top: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	color: #fff;
	z-index: 6;
}

.work-link:hover {
	color: #eaeaea;
}

.work-link i {
	font-size: 22px;
	vertical-align: middle;
}