/*


COLOR CODE:  #e16640



*/

a {
    color: #e16640;
    text-decoration: none;
}

p > a:hover {
	color: #d35738;
}

h4 > a:hover {
	color: #d35738;
}

::-webkit-scrollbar-thumb {
	background: #e16640;
}

::selection {
	background-color: #e16640;
}

-webkit-::selection {
	background-color: #e16640;
}

::-moz-selection {
	background-color: #e16640;
}

#scrollUp:hover {
	background-color: #e16640;
}

.ip-header .ip-loader svg path.ip-loader-circle {
	stroke: #e16640;
}

#featured-sign-up > a:hover,.subscribe-form-1 form input[type="submit"]:hover,.intro-buttons-2 > a:first-child:hover,.sign-up-form-3 > form > input[type="submit"]:hover,.intro-buttons-4 > a:hover,.sign-up-form-5 form input[type="submit"]:hover,.intro-buttons-6 > a:hover,.intro-buttons-7 > a:hover,.blog-section-text > a:hover,.image-container-2-text > a:hover,#featured-price .price-footer > a:hover,.sign-up-section a:hover,.subscribe-form > form > input[type="submit"]:hover {
	background: #d35738;
}

.sign-up-form-holder-5 .policy-text a:hover {
	color: #d35738;
}

#featured-sign-up > a {
	background: #e16640;
	font-weight: 600;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav .current-nav a,.navbar-default .navbar-nav .current a {
	color: #e16640 !important;
}

.subscribe-form-1 form input[type="submit"] {
	background: #e16640;
}

.intro-buttons-2 > a:first-child {
	background: #e16640;
}

.intro-buttons-2 > a:last-child:hover {
	color: #e16640;
}

.intro-buttons-2 > a:last-child:hover i {
	border: 2px solid #e16640;
	color: #e16640;
}

.sign-up-form-3 > form > input[type="submit"] {
	background: #e16640;
}

.intro-buttons-4 > a {
	background: #e16640;
}

.intro-buttons-4 > a:last-child:hover {
	color: #e16640;
}

.sign-up-form-5 form input[type="text"]:focus,.sign-up-form-5 form input[type="email"]:focus,.sign-up-form-5 form input[type="password"]:focus {
	border: 2px solid #e16640;
}

.sign-up-form-5 form input[type="submit"] {
	background: #e16640;
}

.sign-up-form-holder-5 .policy-text a {
	color: #e16640;
}

.intro-buttons-6 > a {
	background: #e16640;
}

.intro-buttons-6 > a:last-child:hover {
	color: #e16640;
}

.intro-buttons-7 > a {
	background: #e16640;
}

.intro-buttons-7 > a:last-child:hover {
	color: #e16640;
}

.single-key-feature > i {
	color: #e16640;
}

.blog-section-text > a {
	background: #e16640;
}

.image-container-1-text > a:hover {
	background: #e16640;
	border: 2px solid #e16640;
}

.single-feature > i {
	color: #e16640;
}

.image-container-2-text > a {
	background: #e16640;
}

.single-service > i {
	background: #e16640;
}

.single-service > a:hover {
	background: #e16640;
}

.social-profile > a > i:hover {
	color: #e16640;
}

.member-info {
	background: rgba(225,102,64,0);
}

.single-member:hover .member-info {
	/*background: rgba(225,102,64,0.9);*/
	background: linear-gradient(60deg,rgba(216,84,77,0.95),rgba(238,176,135,0.85))
}

.work-info {
	background: #e16640;
}

.work-link {
	border-left: 1px solid #e9e9e9;
}

.work-link:hover {
	background: #e16640;
}

.plan-price {
	/*background: #e16640;*/
}

.price-footer > a:hover {
	background: #e16640;
}

#featured-price {
	background: #e16640;
	background: -moz-linear-gradient(45deg,#d8544d 0%,#eeb087 100%);
	background: -webkit-linear-gradient(45deg,#d8544d 0%,#eeb087 100%);
	background: linear-gradient(45deg,#d8544d 0%,#eeb087 100%);
}

.question-number {
	color: #e16640;
}

.quote-icon {
	color: #e16640;
}

.sign-up-section {
	background: #e16640;
}

/*.sign-up-section a {
	color: #e16640;
}*/

.subscribe-form > form > input[type="submit"] {
	background: #e16640;
}
