form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 430px;
    padding: 20px;

    .input-description {
        font-size: .6em;
        line-height: 1.5em;
    }
}
