.paperbits-icon {
    display: inline-block;
    font-family: paperbits;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    vertical-align: middle;
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.paperbits-icon.paperbits-chat-45:before {
    content: "\ea02";
}

.paperbits-icon.paperbits-layout-11:before {
    content: "\ea03";
}

.paperbits-icon.paperbits-logo-youtube:before {
    content: "\ea07";
}

.paperbits-icon.paperbits-action-74:before {
    content: "\ea08";
}

.paperbits-icon.paperbits-align-center:before {
    content: "\ea09";
}

.paperbits-icon.paperbits-align-justify:before {
    content: "\ea0a";
}

.paperbits-icon.paperbits-align-left-2:before {
    content: "\ea0b";
}

.paperbits-icon.paperbits-align-right-2:before {
    content: "\ea0c";
}

.paperbits-icon.paperbits-size:before {
    content: "\ea0d";
}

.paperbits-icon.paperbits-edit-2:before {
    content: "\ea0e";
}

.paperbits-icon.paperbits-code:before {
    content: "\ea0f";
}

.paperbits-icon.paperbits-list-bullet:before {
    content: "\ea10";
}

.paperbits-icon.paperbits-list-numbers:before {
    content: "\ea11";
}

.paperbits-icon.paperbits-bold:before {
    content: "\ea12";
}

.paperbits-icon.paperbits-audio-91:before {
    content: "\ea13";
}

.paperbits-icon.paperbits-quote:before {
    content: "\ea14";
}

.paperbits-icon.paperbits-subscript:before {
    content: "\ea15";
}

.paperbits-icon.paperbits-superscript:before {
    content: "\ea16";
}

.paperbits-icon.paperbits-alert-circle-i:before {
    content: "\ea17";
}

.paperbits-icon.paperbits-chat-45-2:before {
    content: "\ea18";
}

.paperbits-icon.paperbits-cloud-25:before {
    content: "\ea19";
}

.paperbits-icon.paperbits-drop:before {
    content: "\ea1a";
}

.paperbits-icon.paperbits-database:before {
    content: "\ea1b";
}

.paperbits-icon.paperbits-m-location:before {
    content: "\ea1d";
}

.paperbits-icon.paperbits-map:before {
    content: "\ea1e";
}

.paperbits-icon.paperbits-mobile:before {
    content: "\ea1f";
}

.paperbits-icon.paperbits-desktop-screen:before {
    content: "\ea20";
}

.paperbits-icon.paperbits-tv-2:before {
    content: "\ea21";
}

.paperbits-icon.paperbits-mobile-landscape:before {
    content: "\ea22";
}

.paperbits-icon.paperbits-player-48:before {
    content: "\ea23";
}

.paperbits-icon.paperbits-tablet-2:before {
    content: "\ea24";
}

.paperbits-icon.paperbits-wifi-off:before {
    content: "\ea25";
}

.paperbits-icon.paperbits-wifi:before {
    content: "\ea26";
}

.paperbits-icon.paperbits-ban:before {
    content: "\ea27";
}

.paperbits-icon.paperbits-single-content-03:before {
    content: "\ea28";
}

.paperbits-icon.paperbits-single-copy-04:before {
    content: "\ea29";
}

.paperbits-icon.paperbits-single-copies:before {
    content: "\ea2a";
}

.paperbits-icon.paperbits-mirror-2:before {
    content: "\ea2b";
}

.paperbits-icon.paperbits-slider:before {
    content: "\ea2c";
}

.paperbits-icon.paperbits-abc:before {
    content: "\ea2f";
}

.paperbits-icon.paperbits-puzzle-10:before {
    content: "\ea30";
}

.paperbits-icon.paperbits-image-2:before {
    content: "\ea31";
}

.paperbits-icon.paperbits-paint-bucket-40:before {
    content: "\ea32";
}

.paperbits-icon.paperbits-palette:before {
    content: "\ea33";
}

.paperbits-icon.paperbits-transform-origin:before {
    content: "\ea34";
}

.paperbits-icon.paperbits-menu-right:before {
    content: "\ea35";
}

.paperbits-icon.paperbits-menu-34:before {
    content: "\ea36";
}

.paperbits-icon.paperbits-menu-left:before {
    content: "\ea37";
}

.paperbits-icon.paperbits-check-2:before {
    content: "\ea38";
}

.paperbits-icon.paperbits-preferences-circle:before {
    content: "\ea39";
}

.paperbits-icon.paperbits-underline:before {
    content: "\ea3a";
}

.paperbits-icon.paperbits-link-69-2:before {
    content: "\ea3d";
}

.paperbits-icon.paperbits-capitalize:before {
    content: "\ea3e";
}

.paperbits-icon.paperbits-color:before {
    content: "\ea3f";
}

.paperbits-icon.paperbits-anchor:before {
    content: "\ea40";
}

.paperbits-icon.paperbits-italic:before {
    content: "\ea41";
}

.paperbits-icon.paperbits-square-upload:before {
    content: "\ea42";
}

.paperbits-icon.paperbits-square-download:before {
    content: "\ea43";
}

.paperbits-icon.paperbits-simple-add:before {
    content: "\ea44";
}

.paperbits-icon.paperbits-simple-remove:before {
    content: "\ea45";
}

.paperbits-icon.paperbits-question:before {
    content: "\ea46";
}

.paperbits-icon.paperbits-circle-delete:before {
    content: "\ea47";
}

.paperbits-icon.paperbits-circle-add:before {
    content: "\ea48";
}

.paperbits-icon.paperbits-button-2:before {
    content: "\ea49";
}

.paperbits-icon.paperbits-enlarge-circle:before {
    content: "\ea4a";
}

.paperbits-icon.paperbits-components:before {
    content: "\ea4b";
}

.paperbits-icon.paperbits-align-bottom:before {
    content: "\ea4c";
}

.paperbits-icon.paperbits-align-right:before {
    content: "\ea4d";
}

.paperbits-icon.paperbits-align-top:before {
    content: "\ea4e";
}

.paperbits-icon.paperbits-align-center-horizontal:before {
    content: "\ea4f";
}

.paperbits-icon.paperbits-align-center-vertical:before {
    content: "\ea50";
}

.paperbits-icon.paperbits-align-left:before {
    content: "\ea51";
}

.paperbits-icon.paperbits-disperse:before {
    content: "\ea52";
}

.paperbits-icon.paperbits-zoom-out:before {
    content: "\ea53";
}

.paperbits-icon.paperbits-zoom-in:before {
    content: "\ea54";
}

.paperbits-icon.paperbits-trash-simple:before {
    content: "\ea55";
}

.paperbits-icon.paperbits-edit-72:before {
    content: "\ea56";
}

.paperbits-icon.paperbits-form:before {
    content: "\ea57";
}

.paperbits-icon.paperbits-zoom-99:before {
    content: "\ea58";
}

.paperbits-icon.paperbits-crop:before {
    content: "\ea59";
}

.paperbits-icon.paperbits-enlarge-vertical:before {
    content: "\ea5a";
}

.paperbits-icon.paperbits-enlarge-horizontal:before {
    content: "\ea5b";
}

.paperbits-icon.paperbits-rotate-right-2:before {
    content: "\ea5c";
}

.paperbits-icon.paperbits-rotate-left-2:before {
    content: "\ea5d";
}

.paperbits-icon.paperbits-margin-right:before {
    content: "\ea5e";
}

.paperbits-icon.paperbits-margin-left:before {
    content: "\ea5f";
}

.paperbits-icon.paperbits-alert:before {
    content: "\ea60";
}

.paperbits-icon.paperbits-cheque-3:before {
    content: "\ea61";
}

.paperbits-icon.paperbits-favourite-31:before {
    content: "\ea62";
}