@font-face {
    font-family: "icons";
    src: url("fonts/icons.eot");
    src: url("fonts/icons.eot") format("embedded-opentype"), url("fonts/icons.woff2") format("woff2"),
         url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"),
         url("fonts/icons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon {
    display: inline-block;
    font-family: icons;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    vertical-align: middle;
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon.icon-zoom-2::before {
    content: "\ea02";
}

.icon.icon-menu-8::before {
    content: "\ea05";
}

.icon.icon-simple-remove::before {
    content: "\ea06";
}