.hidden {
    display: none !important;
}

.empty-media {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc30;
    padding: 10px;
}

.preview {
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    margin: 0 5px;
}
