@import "../variables.scss";
@import "layouts.scss";

.email-layout {
    max-width: 600px;
}

.email-layout-section,
.email-layout-row {
    width: 100%;
}

.email-layout-column-12 {
    width: 100%;
}

.email-layout-column-9 {
    width: 75%;
}

.email-layout-column-8 {
    width: 66.666667%;
}

.email-layout-column-6 {
    width: 50%;
}

.email-layout-column-4 {
    width: 33.333333%s;
}

.email-layout-column-3 {
    width: 25%;
}



$grid-padding: 10px;

table {
    vertical-align: top;
    line-height: inherit;
    border: none;

    table {
        tr {
            td {
                padding: $grid-padding;
            }
        }
    }
}
