.paperbits-icon {
    display: inline-block;
    font-family: paperbits;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    vertical-align: middle;
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.paperbits-icon.icon-zoom-2:before {
    content: "\ea02";
}

.paperbits-icon.icon-logo-github:before {
    content: "\ea03";
}