.section-default {
    background: #fff;
}

.section-hightlighted {
    background: linear-gradient(30deg, #d8544d 0%, #eeb087 100%);
}

.section-smoke {
    background: #f8f8f8;
}

.section-darker-smoke {
    background: #eef1f2;
}

.section-dark-smoke {
    background: #2a2f30;
}

.text-inverted {
    color: #fff;
}

placeholder {
    width: 100%;
    height: 200px;
    text-align: center;
    border: 3px solid grey;
    display: block;

    &::after {
        content: 'Page content';
    }
}

.empty-item {
    width: 100%;
    height: 100%;
    min-height: 150px;
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 10px, rgba(0, 0, 0, 0.05) 10px, rgba(0, 0, 0, 0.05) 20px);
    position: relative;

    &:after {
        content: attr(placeholder);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

.dragged {
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.4);
    transform: scale(1.03);
    transition: transform .3s ease-in-out, height .3s ease-in-out, width .3s ease-in-out;
    opacity: .95;
    position: fixed;
    z-index: 9999;
}

.placeholder {
    border: none;
    outline: 4px dashed #ccc;
    transition: height .5s ease-in-out;
    position: relative;
    opacity: .5;
}
