* {
    position: relative;
}

body,
html {
    height: 100%;
    width: 100%;
}

section {
    padding: 10px;

    .row {
        padding: 10px;
        min-height: 90px;

        .col-flex {
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            align-content: start;
            align-items: start;
            width: 100%;
        }
    }

    &.with-padding {
        padding: 40px;
    }
}

.fit {
    @include fit;
}

.container,
.placeholder {
    min-height: 80px;
}

.placeholder {
    font-size: .7em;
    font-family: monospace;
    text-transform: uppercase;
    height: 100%;
}
