@font-face {
    font-family: "JollyGoodSans-Basic";
    src: url("http://cdn.paperbits.io/fonts/JollyGoodSans-Basic.woff2") format("woff2"), url("http://cdn.paperbits.io/fonts/JollyGoodSans-Basic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Mate";
    font-style: normal;
    font-weight: 400;
    src: local("Mate-Regular"), url("http://cdn.paperbits.io/fonts/Mate.woff2") format("woff2"), url("http://cdn.paperbits.io/fonts/Mate.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: "Mate", Arial, Helvetica, sans-serif;
    //font-size: $font-size-base;
    color: #5B5F61;
}

html {
    font-size: $font-size-base;
}

ol,
p,
ul {
    margin-top: 1rem;
    margin-bottom: 1rem;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

h1 {
    font-size: 1.7rem;
    font-weight: bold;

    &.text-font-display {
        font-size: 2rem;
        font-weight: normal;
    }
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    &.text-font-display {
        font-weight: normal;
    }
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
    margin-bottom: 1.5rem;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

.text-font-display {
    font-family: $font-family-script;
}

.lead {
    font-size: 1.5em;
}

.numbers {
    list-style-type: decimal;
}

.upper-alpha {
    list-style-type: upper-alpha;
}

.lower-alpha {
    list-style-type: lower-alpha;
}

.lower-roman {
    list-style-type: lower-roman;
}

.upper-roman {
    list-style-type: upper-roman;
}

.list-disc {
    list-style-type: disc;
}

.list-circle {
    list-style-type: circle;
}

.list-square {
    list-style-type: square;
}

.container-thinner {
    max-width: 800px;
}
